.topbar-wrapper {
    height: 75px;
    padding: 15px;
    box-sizing: border-box;
    display: inline-block;
    width: 100vw;
}

#logo-area {
    width: 380px;
    cursor: pointer;
    outline: 0;
    display: inline-block;
}

#logo-icon, #logo-text {
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
}

#theme-icon {
    display: inline-block;
    // position: absolute;
    // top: 25px;
    // right: 75px;
    cursor: pointer;
}

#menu-icon {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;

    i { font-size: 48px; }
}

@media screen and (min-width: 1111px) {
    #menu-icon {
        display: none;
    }
}