<h3>We eat tangy mangoes</h3>
<p class="reference">From <i>The Phantom Blooper</i> by Gustav Hasford. Except as noted, all quotes are in the voice of the main narrator, James "Joker" Davis, USMC.</p>	
<hr>
<p>We eat tangy mangoes. “I don’t hate Americans,” Ha Ngoc says. “I only kill them because they have killed so many of my friends.”</p>
<p>I nod. I say, “There it is.”</p>
<p>------</p>
<p>Politics is not hard to understand. Politics is somebody’s nightstick upside your head.</p>
<p class="citation"><i>-- "Black John Wayne"</i></p>
<p>------</p>
<p>Now I am the Woodcutter’s experiment, his theory that victory requires knowledge of the enemy, along with an unflinching acceptance of any unendurable truths.</p>
<p>------</p>
<p>As a Combat Correspondent I was part of the vast gray machine that does not dispense clean information. The American weakness is that we try to rule the world with public relations, then end up believing our own con jobs. We are adrift in a mythical ship that no longer touches land.</p>
<p>------</p>
<p>I think about my father, always working, always making a crop, but never making a dollar ahead of next month’s feed bill, happy just to be alive and healthy with honest work to do.</p>
<p>------</p>
<p>In an unnecessary war, patriotism is just racism made to sound noble.</p>
<p>------</p>
<p>The squid orderlies laugh and smoke their cigarettes and make remarks, just loud enough to hear, and they thoroughly enjoy that unexplainable gut-level poisonous hatred that men who have skated being in a shooting war can sometimes feel for less fortunate men who have been forced to meet themselves face to face in battle and have survived.</p>
<p>------</p>
<p>The soldier’s war comes and goes, and ends. But noncombatants search endlessly for substitutes for war and attach to war that esoteric glamor which always attaches itself to the unattainable.</p>
<p>------</p>
<p>Perhaps the eternal appeal of war is that the pogues are all in the rear.</p>
<p>------</p>
<p>Every time I dream about Cowboy the nightmare ends in a fearful splattering of blood and I wake up in a cold sweat, wanting to scream, but afraid to give away my position.</p>
<p>------</p>
<p>Black John Wayne saw it all: you can stay here and live with us in our constructed phantom paradise if you promise to pay lip service to the lies we live by. If you salute every civil service clerk who claims to be Napoleon, you may play in our asylum.</p>
<p>------</p>
<p>In the land of a thousand lies, to be an honest man is a crime against the state.</p>
<p>------</p>
<p>People who have nothing to lose have nothing to live for. I’d rather be killed in a war than be bored to death an inch at a time.</p>
<p>------</p>
<p>I give the fruit jar a swat with my Stetson and a hundred phosphorescent dots of light explode up into the night sky, winking like muzzle flashes in a treeline, a hundred Alabama lightning bugs, alive and free, and glowing like sparks from a fire.</p>

