<div class="willard">
<app-banner [sidenav]="sidenav"></app-banner>
<mat-sidenav-container>
  <mat-sidenav 
    #sidenav 
    class="contents-sidenav sidenav-background-color"
    mode="side" 
    [(opened)]="opened" 
    (opened)="events.push('open')"
    (closed)="events.push('close')">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <button mat-flat-button>Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button class="btn-red">Red!</button>
    <p></p>
    <mat-form-field>
      <mat-select placeholder="Favorite food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
