<app-banner [sidenav]="sidenav"></app-banner>
<mat-sidenav-container class="sidenav">
  <mat-sidenav 
    #sidenav 
    mode="side" 
    [(opened)]="opened" 
    (opened)="events.push('open')"
    (closed)="events.push('close')">
    <app-contents></app-contents>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-pageone></app-pageone>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <button mat-flat-button>Hello</button>
    </mat-sidenav-content>
</mat-sidenav-container>

