mat-sidenav {
    position: fixed;
    margin-top: 75px;
    height: 100vh;
    width: 250px;
    padding: 1.5rem;
}

mat-sidenav-content {
    margin: 75px auto;
    padding: 1.5rem;
    max-width: 800px; 
    height: 100vh; 
    overflow: hidden;  
}

#menu-icon i {
    font-size: 48px;
    margin-left: -5px;
    cursor: pointer;
}

