<app-banner [sidenav]="sidenav"></app-banner>
<mat-sidenav-container>
  <mat-sidenav 
    #sidenav 
    class="contents-sidenav sidenav-background-color"
    mode="side" 
    [(opened)]="opened" 
    (opened)="events.push('open')"
    (closed)="events.push('close')">
    <app-contents></app-contents>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <button mat-flat-button>Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button class="red">Red!</button>
  </mat-sidenav-content>
</mat-sidenav-container>

