@import '~@angular/material/theming';
@include mat-core();

$mat-primary: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-accent: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kurtz-primary: mat-palette($mat-primary, 500, 100, A700);
$kurtz-accent:  mat-palette($mat-accent);

$kurtz-theme: mat-light-theme($kurtz-primary, $kurtz-accent);

@include angular-material-theme($kurtz-theme);

// Other theme colors:
$kurtzRed: #b00020;
$kurtzLightGray: #e0e0e0;

.banner-wrapper {
    background-color: black;
    color: white;
}

.contents-sidenav {
    background-color: $kurtzLightGray;
}

.contents-list a {
    text-decoration: none;
    color: black;

    &:hover {
        color:$kurtzRed;
    }
}

.red {
    background-color: $kurtzRed !important;
}

.banner-wrapper #logo-area a {
    color: white;
}