html {
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h2 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h4 {
    font-size: 2.15rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .75rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

strong {
    font-weight: 700;
}

.reference {
    font-size: .95rem;
}

button {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 5px !important;
}

.citation {
    font-size: .95rem;
    line-height: .5rem;
}

app-topbar {
    position: fixed;
    z-index: 2;
    width: 100%;
}

hr {
    opacity: .3;
    margin: 1.5rem 0;
}

.footnotes {
    font-size: 1.2rem;
    line-height: 1.15;
}

.footnote-indicator {
    position: relative;
    top: 4px;
    margin-top: -4px;
}

a, a:visited {
    color: #72A3F8;
    font-weight: 500;
}