@import '~@angular/material/theming';
@include mat-core();

// To style the material components
$willard-primary: mat-palette($mat-indigo);
$willard-accent:  mat-palette($mat-light-blue);
$willard-warn:    mat-palette($mat-deep-orange);
$willard-theme: mat-light-theme($willard-primary, $willard-accent, $willard-warn);
@include angular-material-theme($willard-theme);

// Theme colors:
$primary: #3F51B5;
$accent: #03A9F4;
$primary-dark: #303F9F;
$primary-light: #C5CAE9;
$text-light: #ffffff;
$text-dark:#212121;
$text-alt: #757575;
$red: #b00020;

// Theme colors expresses as classes
.primary { background: $primary; }
.accent { background: $accent; }
.primary-dark-color { background: $primary-dark; }
.primary-light-color { background: $primary-light; }
.text-light-color { color: $text-light; }
.text-dark-color { color: $text-dark; }
.text-alt-color { color: $text-alt; }
.red { background-color: $red !important; }

// Sets default text color 
.mat-drawer, .mat-drawer-container {
    color: $text-dark;
    opacity: .87;
}

.contents-list a {
    color: $text-dark;

    &:hover {
        color:$red;
    }
}