<div class="contents-wrapper">
  <h6>Contents:</h6>
  <ul class="contents-list">
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="">What I Saw of Shiloh</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="pagetwo">On Bull...</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="pagethree">The Phantom Blooper</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="pagefour">What It Is Like to Go to War</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="pagefive">Tuesdays with Mormons</a></li>
  </ul>
</div>
