<div class="contents-wrapper">
  <h6>Articles:</h6>
  <ul class="contents-list">
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="tuesdays-with-mormons">Tuesdays with Mormons</a></li>
  </ul>
  <h6 id="book-notes-headline">Book Notes:</h6>
  <ul class="contents-list">
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="what-i-saw-of-shiloh">What I Saw of Shiloh</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="the-phantom-blooper">The Phantom Blooper</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="what-it-is-like-to-go-to-war">What It Is Like to Go to War</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="on-bull">On Bull...</a></li>
  </ul>
</div>
