<h2>Hello, friend.</h2>
<p>For thirty years I was a minister in Tennessee. Not anymore. Things change. I changed. I couldn’t stay there anymore. But it ended on good terms. The people there are too kind to ask many questions. I am now a web developer.
</p>

<p>I have recently found a lot of help in studying the stoic philosophy being popularized by <a href="https:/ryanholiday.net/" target="new">Ryan Holiday</a>, <a href="https://tim.blog/stoic/" target="new">Tim Ferris</a>, and others. Stoicism is a practical and realistic way of going through life. It constantly reminds me to work on things over which I have some control, to let go of what I don’t, and to remember how temporary and fleeting life is. And there is no need to accept anything on insufficient evidence.</p>

<p>A recent "best thought" of mine inspired by Stoicism: Beer in the fridge, or ice cream or key lime pie, is for me an attempt to store up joy for later, or to possess an experience that was wonderful in its moment. Better to enjoy it in the moment, and then let it go.</p>

<p>Ryan Holiday puts it better. This is from his book of stoic meditations called <strong><a href="https://www.amazon.com/Daily-Stoic-Meditations-Wisdom-Perseverance-ebook/dp/B01HNJIJB2/ref=sr_1_1?keywords=the+daily+stoic&qid=1552186419&s=gateway&sr=8-1" target="new">The Daily Stoic</a></strong> (the reading for November 21):</p>
<p class="blockquote"> Perhaps today will be the day when we experience happiness or wisdom. Don't try to grab that moment and hold on to it with all your might. It's not under your control how long it lasts. Enjoy it, recognize it, remember it. Having it for a moment is the same as having it forever.</p>

<p>This site contains articles I'm writing about what I believe, what I think, and what matters to me, with the general theme of how I got where I am.</p>

<p>There's also a section called Book Notes which is nothing more than quotations from favorite books, quotes that inspire me, bring a tear to my eye, or make me wish I could write like that.</p>